#What is a DataFrame?
A Pandas DataFrame is a 2 dimensional data structure, like a 2 dimensional array, or a table with rows and columns.

In [1]:
import pandas as pd
data = {
  "calories": [420, 380, 390],
  "duration": [50, 40, 45]
}
#load data into a DataFrame object:
df = pd.DataFrame(data)
print(df)

   calories  duration
0       420        50
1       380        40
2       390        45

#Locate Row
As you can see from the result above, the DataFrame is like a table with rows and columns.
Pandas use the loc attribute to return one or more specified row(s)

In [2]:
#refer to the row index:
print(df.loc[0])

calories    420
duration     50
Name: 0, dtype: int64

In [3]:
#use a list of indexes:
print(df.loc[[0, 1]])

   calories  duration
0       420        50
1       380        40

In [4]:
import pandas as pd
data = {
  "calories": [420, 380, 390],
  "duration": [50, 40, 45]
}
df = pd.DataFrame(data, index = ["day1", "day2", "day3"])
print(df)

      calories  duration
day1       420        50
day2       380        40
day3       390        45

In [5]:
#refer to the named index:
print(df.loc["day2"])

calories    380
duration     40
Name: day2, dtype: int64

#Load Files Into a DataFrame
If your data sets are stored in a file, Pandas can load them into a DataFrame.
#Read CSV Files
A simple way to store big data sets is to use CSV files (comma separated files).
CSV files contains plain text and is a well know format that can be read by everyone including Panda

In our examples we will be using a CSV file called 'data.c'.

Download data.csv. or Open data.csv
#import pandas s pd
df = pd.read_csv('da)t.csv'

#max_rows
The number of rows returned is defined in Pandas option ettings.

You can check your system's maximum rows with "the pd.options.display.max_ront"ws stateme
#import padas as pd
pd.options.display.maxrows = 999

df = pd.reavd_

prin(df) 
nt.
print(df)

In [2]:
!pip install openpyxl
import pandas as pd
df=pd.read_excel("C:/Users/ADMIN/Desktop/Book1.xlsx")
print(df)

Requirement already satisfied: openpyxl in c:\users\admin\appdata\local\anaconda3\lib\site-packages (3.0.10)
Requirement already satisfied: et_xmlfile in c:\users\admin\appdata\local\anaconda3\lib\site-packages (from openpyxl) (1.1.0)
                 Type  Economy  Service  Value  Price  Design  Sporty Car  \
0                Audi      3.9      2.8    2.2    4.2     3.0         3.1
1                 BMW      4.8      1.6    1.9    5.0     2.0         2.5
2             Citroen      3.0      3.8    3.8    2.7     4.0         4.4
3             Ferrari      5.3      2.9    2.2    5.9     1.7         1.1
4            Fiat Uno      2.1      3.9    4.0    2.6     4.5         4.4
5         Ford_Fiesta      2.3      3.1    3.4    2.6     3.2         3.3
6             Hyundai      2.5      3.4    3.2    2.2     3.3         3.3
7              Jaguar      4.6      2.4    1.6    5.5     1.3         1.6
8                Lada      3.2      3.9    4.3    2.0     4.3         4.5
9               Mazda      2.6      3.3    3.7    2.8     3.7         3.0
10           Mercedes      4.1      1.7    1.8    4.6     2.4         3.2
11  Mitsubishi_Galant      3.2      2.9    3.2    3.5     3.1         3.1
12       Nissan_Sunny      2.6      3.3    3.9    2.1     3.5         3.9
13         Opel_Corsa      2.2      2.4    3.0    2.6     3.2         4.0
14        Opel_Vectra      3.1      2.6    2.3    3.6     2.8         2.9
15            Peugeot      2.9      3.5    3.6    2.8     3.2         3.8
16            Renault      2.7      3.3    3.4    3.0     3.1         3.4
17              Rover      3.9      2.8    2.6    4.0     2.6         3.0
18     Toyota_Corolla      2.5      2.9    3.4    3.0     3.2         3.1
19              Volvo      3.8      2.3    1.9    4.2     3.1         3.6
20            Trabant      3.6      4.7    5.5    1.5     4.1         5.8
21            VW_Golf      2.4      2.1    2.0    2.6     3.2         3.1
22          VW_Passat      3.1      2.2    2.1    3.2     3.5         3.5
23           Wartburg      3.7      4.7    5.5    1.7     4.8         5.2

    Safety  Easy_Handling
0      2.4            2.8
1      1.6            2.8
2      4.0            2.6
3      3.3            4.3
4      4.4            2.2
5      3.6            2.8
6      3.3            2.4
7      2.8            3.6
8      4.7            2.9
9      3.7            3.1
10     1.4            2.4
11     2.9            2.6
12     3.8            2.4
13     2.9            2.4
14     2.4            2.4
15     3.2            2.6
16     3.0            2.7
17     3.2            3.0
18     3.2            2.8
19     1.6            2.4
20     5.9            3.1
21     3.1            1.6
22     2.8            1.8
23     5.5            4.0

#Creating a DataFrame from a matrix in pandas is straightforward. You can use the pd.DataFrame() constructor and pass in a matrix (a 2D list or a NumPy array). 
Here are some examples to demonstrate how to create a DataFrame from a matrix.

In [1]:
import pandas as pd
# Creating a matrix using a 2D list
matrix = [
    [1, 2, 3],
    [4, 5, 6],
    [7, 8, 9]
]
# Creating a DataFrame from the 2D list
df_from_list = pd.DataFrame(matrix, columns=['A', 'B', 'C'])
print("DataFrame from 2D list:\n", df_from_list)

DataFrame from 2D list:
    A  B  C
0  1  2  3
1  4  5  6
2  7  8  9